<div class="jumbotron">
  <h1>Welcome to Mario's International Curiosities</h1>
</div>

<% if @products.any? %>
  <div class="row">
    <div class="col-md-3">
    <h4>Here is a list of all of our products</h4>
      <ul>
        <% @products.each do |product| %>
          <li><%= link_to product.name, product_path(product) %></li>
        <% end%>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4 class="card-title">Made in the USA</h4>
        <div class="card-body">
          <% @local.each do |product| %>
          <p><%= link_to product.name, product_path(product) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4 class="card-title">Most Reviewed products</h4>
        <div class="card-body">
          <% @reviewed.each do |product| %>
          <p><%= link_to product.name, product_path(product) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4 class="card-title">Recently added</h4>
        <div class="card-body">
          <% @recent.each do |product| %>
          <p><%= link_to product.name, product_path(product) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <p>No products have been created yet</p>
  <% end %>



<p><%= link_to "Add a Product", new_product_path %></p>
