<h2><%= @product.name %></h2>
<h3>This product is made in <%= @product.origin %></h3>
<h3>This is it's cost: <%= @product.cost %></h3>
<div class="row">
  <div class="col-md-7">
    <% if @product.reviews.any? %>
      <h3>Reviews</h3>
      <% @product.reviews.each do |review| %>
        <p><%= link_to review.author, product_review_path(@product, review) %></p>
        <p><%= review.content_body %></p>
      <% end %>
    <% else %>
      <p>No reviews have been published!</p>
    <% end %>
  </div>
  <div class="col-md-5">
    <div class="panel">
        <h4 class="panel-heading">Edits</h4>
        <div class="panel-body">
          <p><%= link_to "Delete", product_path(@product), :data => {:confirm => "You sure?", :method => "Delete"} %></p>
          <p><%= link_to "Edit Product Details", edit_product_path(@product)%>
          <p><%= link_to "Add a Review", new_product_review_path(@product) %></p>
          <p><%= link_to "Return to main page", products_path%></p>
        </div>
    </div>
  </div>
</div>