<h1><%= @product.name %> for $<%= @product.cost %></h2>
<h3>This product is made in <%= @product.origin %></h3>
<div class="row">
  <div class="col-md-7">
    <% if @product.reviews.any? %>
      <h3>Reviews</h3>
      <% @product.reviews.each do |review| %>
        <% if current_user && current_user.admin %>
          <p><%= link_to review.author, product_review_path(@product, review) %>: Gave it <%= review.rating %>/5</p>
        <% else %>
          <p><%= review.author %> Gave it <%= review.rating %>/5</p>
        <% end %>
        <p><%= review.content_body %></p>
      <% end %>
    <% else %>
      <p>No reviews have been published!</p>
    <% end %>
  </div>
  <div class="col-md-5">
    <div class="card">
        <h4 class="card-title">Edits</h4>
        <div class="card-body">
          <% if current_user && current_user.admin %>
          <p><%= link_to "Delete", product_path(@product), :data => {:confirm => "You sure?", :method => "Delete"} %></p>
          <p><%= link_to "Edit Product Details", edit_product_path(@product)%>
          <% end %>
          <p><%= link_to "Add a Review", new_product_review_path(@product) %></p>
          <p><%= link_to "Return to main page", landings_path%></p>
        </div>
    </div>
  </div>
</div>